@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #27272a;
}

.rcp-root{--rcp-background-color: #3f3f46;--rcp-field-input-color: #ffffff;--rcp-field-input-border-color: #a1a1aa;}

dialog::backdrop {
    background-color: #3f3f46;
    opacity: 0.90;
}